body {
    background-color: lightgoldenrodyellow; 
    display: inline-block;
    text-align: center;
  }

h1, h2 {
    color:goldenrod;
}

img {
    display: inline-block;
}

p {
    color:brown; 
    font-size: 1.2em; 
    max-width:600px;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
}

.info {
    border: 1px solid black;
    border-radius: 5px; 
    width:200px; 
    font-weight: bold;
    text-align: center;
    }

.info:hover {
    background-color: lightblue;
}